# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\amar_\Documents\Portfolio\3rdYearWebDesignTechnologies\university_guidelines_amar_khaliq\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
